<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556775697133-gnlju6h2j04h5c7ctp0cckrjukq6ln7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556775697133-gnlju6h2j04h5c7ctp0cckrjukq6ln7a</string>
	<key>API_KEY</key>
	<string>AIzaSyBdazrtoYJNg1K4Ficlkf9lpsKGJoGol-8</string>
	<key>GCM_SENDER_ID</key>
	<string>556775697133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adawati</string>
	<key>PROJECT_ID</key>
	<string>adawati-7f36f</string>
	<key>STORAGE_BUCKET</key>
	<string>adawati-7f36f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556775697133:ios:80b3e03ea64fa90056bae4</string>
</dict>
</plist>